body {
  font-family: Palatino;
}

li {
  background-color: cadetblue;
  padding: 20px;
  border: 5px solid;
  display: block;
  float: left;
}

#form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.form-item {
  margin: 20px;
}

#submit-btn {
  margin: 20px;
}

#delete-btn {
  margin: 20px;
}

#reading-list {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin: 20px;
  list-style: none;
  justify-content: space-evenly;
}
